@import 'tailwindcss';

.main-div::-webkit-scrollbar {  
    @apply w-[0px] sm:w-[7px] 
}

.main-div::-webkit-scrollbar-track {
    background: #272727;
}

.main-div::-webkit-scrollbar-thumb {
    background: #5b5b5b;
    border-radius: 50px;
}

.main-div::-webkit-scrollbar-thumb:hover {
    background: #707070;
}

.social-links {
    @apply hover:text-red-500 [transition:color_0.5s_ease-in-out] cursor-pointer
}

.nav-option {
    @apply text-[1.1em] text-gray-50 font-semibold hover:text-red-500 [transition:color_0.5s_ease-in-out]
}

.product-div:hover .add-btn {
    @apply opacity-100 visible [transition:all_0.5s_ease-in-out]
}

.product-div:hover .product-image {
    @apply scale-110 [transition:all_0.5s_ease-in-out]
}

.txt-div:hover .product-title, .txt-div:hover .product-price {
    @apply text-red-500 [transition:all_0.5s_ease-in-out]
}

.input{
    @apply h-[55px] w-full font-semibold tracking-wide text-[1.2em] outline-0 border-[1px] border-neutral-600 px-[20px] rounded-[10px]
}